In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('naivebayes.csv')
df

     Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4      Sunny        Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True       Yes
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast        Mild     High   True       Yes
12  Overcast         Hot   Normal  False       Yes
13     Sunny        Mild     High   True        No

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded = le.fit_transform(df['Outlook'])
df['Outlook'] = encoded
encoded = le.fit_transform(df['Temperature'])
df['Temperature'] = encoded
encoded = le.fit_transform(df['Humidity'])
df['Humidity'] = encoded
encoded = le.fit_transform(df['Windy'])
df['Windy'] = encoded
encoded = le.fit_transform(df['Play Golf'])
df['Play Golf'] = encoded
df

    Outlook  Temperature  Humidity  Windy  Play Golf
0         1            1         0      0          0
1         1            1         0      1          0
2         0            1         0      0          1
3         2            2         0      0          1
4         2            0         1      0          1
5         2            0         1      1          0
6         0            0         1      1          1
7         1            2         0      0          0
8         1            0         1      0          1
9         2            2         1      0          1
10        1            2         1      1          1
11        0            2         0      1          1
12        0            1         1      0          1
13        2            2         0      1          0

In [4]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = 'Play Golf', axis = 1)
y = df['Play Golf']
print("Shape of X: ", X.shape)
print("Shape of y: ", y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 10)
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test: ", y_test.shape)

Shape of X:  (14, 4)
Shape of y:  (14,)
Shape of X_train:  (9, 4)
Shape of X_test:  (5, 4)
Shape of y_train:  (9,)
Shape of y_test:  (5,)

In [5]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb_pred = gnb.predict(X_test)
print("Accuracy Score of Naive Bayes: ", accuracy_score(y_test, gnb_pred))
print("Roll Num: CB.SC.I5DAS21049")
print("Name: Pratiksha Cauvery K P")

Accuracy Score of Naive Bayes:  0.8
Roll Num: CB.SC.I5DAS21049
Name: Pratiksha Cauvery K P