In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("DT.csv")
df

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded = le.fit_transform(df['kind'])
df.drop(columns = 'kind', axis=1)
df['kind'] = encoded
df

     duration  waiting  kind
0       3.600       79     0
1       1.800       54     1
2       3.333       74     0
3       2.283       62     1
4       4.533       85     0
..        ...      ...   ...
267     4.117       81     0
268     2.150       46     1
269     4.417       90     0
270     1.817       46     1
271     4.467       74     0

[272 rows x 3 columns]

In [4]:
from sklearn.model_selection import train_test_split
X = df.drop(columns = 'kind', axis = 1)
y = df['kind']
print("Shape of X: ", X.shape)
print("Shape of y: ", y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)
print("Shape of y_train: ", y_train.shape)
print("Shape of y_test: ", y_test.shape)

Shape of X:  (272, 2)
Shape of y:  (272,)
Shape of X_train:  (217, 2)
Shape of X_test:  (55, 2)
Shape of y_train:  (217,)
Shape of y_test:  (55,)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc_pred = dtc.predict(X_test)
print("Accuracy Score of Decision Tree Classifier: ", accuracy_score(y_test, dtc_pred))
print("Roll Num: CB.SC.I5DAS21049")
print("Name: Pratiksha Cauvery K P")

Accuracy Score of Decision Tree Classifier:  0.9818181818181818
Roll Num: CB.SC.I5DAS21049
Name: Pratiksha Cauvery K P